{% load static %}

<div class="w-100 d-flex p-lg-5 p-sm-2 justify-content-between align-items-center">
    <div class="w-50 px-3">
        <h2 class="fw-bold poppins-black">Welcome, guys.</h2>
        <p class="my-lg-4 my-sm-2 fw-light fs-lg-2">
            Lorem ipsum dolor sit amet 
            consectetur adipisicing elit. Temporibus, dignissimos.
            Lorem ipsum dolor sit amet 
            consectetur adipisicing elit. Temporibus, dignissimos.
        </p>
        <button class="btn btn-outline-info">Get started</button>
    </div>
    <div class="w-50">
        <img src="{% static 'images/hero.png' %}" alt="" class="w-100 object-fit-cover" >
    </div>
</div>